{include file="../Public/header.html"}
<div class="container">
	<div class="main panel">
		<div class="log-form">
			<div class="form-title">
			   <span>用户注册</span>
		    </div>
			<form action="index.php?c=user&a=reg" method="post">
			<div class="form-group">
				<label>用户名</label>
				<input type="text" name="username" id="" class="textinput" />
				<span><a href="#" target="_blank" style="color:blue">检查用户名是否可用</a></span>
			</div>
			<div class="form-group">
				<label>邮箱</label>
				<input type="text" name="email" id="" class="textinput" />
			</div>
			<div class="form-group">
				<label>密码</label>
				<input type="password" name="password" id="" class="textinput" />
			</div>
			<div class="form-group">
				<label>确认密码</label>
				<input type="password" name="repassword" id="" class="textinput" />
			</div>
			<div class="form-group">
				<label>验证码</label>
				<input type="text" name="vcode" id="" class="vcode textinput" />
				<img src="index.php?c=user&a=getVcode" onclick="this.src='index.php?c=user&a=getVcode'" alt="点击刷新" class="imgcode"/>
			</div>
			<div class="form-group text-center">
				<input type="submit" value="注册" class="btn btn-submit btn-green" name="btnReg"/>
			</div>
		</form>
		</div>
	</div>
</div>
{include file="../Public/foot.html"}