<p class="caption">控制面板</p>
<dl class="menu">
	<dt class="nav"><i>☛</i>博客管理</dt>
	<dd class="sub_nav">
		<a href="admin.php?c=article" class="nav-link"><i>•</i>文章列表</a>
		<a href="" class="nav-link"><i>•</i>添加文章</a>
		<a href="admin.php?c=article&a=showcomments" class="nav-link"><i>•</i>评论管理</a>
	</dd>
	<dt class="nav"><i>☛</i>用户管理</dt>
	<dd class="sub_nav">
		<a href="admin.php?c=user" class="nav-link"><i>•</i>用户列表</a>
	</dd>
	<dt class="nav"><i>☛</i>系统管理</dt>
	<dd class="sub_nav">
		<a href="" class="nav-link"><i>•</i>管理员列表</a>
		<a href="" class="nav-link"><i>•</i>密码修改</a>
		<a href="" class="nav-link"><i>•</i>清除缓存</a>
	</dd>
</dl>